<header id="main-header">
	<nav class="navbar navbar-default">
		<div class="container">
		
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ path("_index") }}">
					<img width="50px"  class="img-responsive" src="{{ asset('bundles/pedidos/images/chef.png')}}"/>
				</a>
                {% if app.session.get("usuarioDto") %}
				<div class="navbar-toggle collapsed" aria-expanded="false">
					<a href="#"><span class="glyphicon glyphicon-user menu-icon "></span><br>{{ app.session.get('usuarioDto').nickname }} {% if 'UsuarioNoRegistrado' in app.session.get('usuarioDto').roles %}(Invitado){% endif %} </a>
				</div>
				{% endif %}
			</div>
			<ul class="nav navbar-nav navbar-right text-center hidden-xs">
				{% if app.session.get("usuarioDto") %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-hidden="true"><span class="glyphicon glyphicon-user menu-icon "></span><br>{{ app.session.get('usuarioDto').nickname }}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path("_get_menu") }}"><span class="fa fa-cutlery "></span><br>Ver Menu</a></li>
							<li><a href="{{ path("_logout") }}"><span class="fa fa-power-off" ></span><br>Salir</a></li>
						</ul>
					</li>
				{% endif %}
			</ul>
		</div><!-- .container-fluid -->
	</nav>
</header>
