{% import _self as pedidoListarMacro %}
{% extends 'PedidosBundle:layout:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('#reporte-table').bootstrapTable({
                showExport:true,
                exportOptions:{fileName:"reporte_pedidos"}
            });

            $('#date-picker').daterangepicker({
                    locale: {
                        format: 'DD/MM/YYYY'
                    }
                }, function (start, end, label) {
                    $("#date-from").attr("value", start.format('DD/MM/YYYY'));
                    $("#date-to").attr("value", end.format('DD/MM/YYYY'));
                }
            );


            $("#generar-reporte-btn").on('click', function () {
                var $from = $("#date-from").val();
                var $to = $("#date-to").val();
                var $estado = $("#pedido_estado option:selected").val();
                $("#reporte-list").slideDown();
                var listUrl = decodeURIComponent($("#reporteListUrl").val()).replace('#date-from', $from).replace('#date-to', $to).replace('#estado',$estado);
                $('#reporte-table').bootstrapTable('refresh', {url: listUrl});

            });

        });

        function categoriaFormatter(it, row) {
            return row.categoria.replace(/([a-z](?=[A-Z]))/g, '$1 ')
        }

        function reporteRowStyle(row, index) {
            if(row.tag === 'max'){
                return {classes: 'success'};
            }
            if(row.tag === 'min'){
                return {classes: 'warning'};
            }
            return {};
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <h1>Reportes</h1>
            </div>

            <input type="hidden" id="reporteListUrl" value="{{ path('_reporte_list', {'from': '#date-from','to':'#date-to','estado':'#estado'})}}">

            <div class="top-buffer" id="reportes-list-filter">
                <div class="row">
                    <div class="form">
                        <div class="form-group">
                            <label for="date_from">Fecha: </label>
                            <input type="text" class="form-control" id="date-picker" placeholder="Seleccionar">
                            <input type="hidden" class="form-control" id="date-from" value="{{ "now"|date("d/m/Y") }}">
                            <input type="hidden" class="form-control" id="date-to" value="{{ "now"|date("d/m/Y") }}">
                        </div>
                        <div class="form-group">
                            <label for="pedido_estado">Estado: </label>
                            <select class="form-control" id="pedido_estado">
                                <option value="">Seleccionar...</option>
                                {% for estado in estadoPedidos %}
                                    <option value="{{ estado }}">{{ estado }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <a id="generar-reporte-btn" href="#" type="button" class="btn btn-primary"
                           data-loading-text="Enviando <i class='fa fa-circle-o-notch fa-spin'></i>">Generar Reporte</a>
                    </div>
                </div>
            </div>

            <div id="reporte-list" style="display: none;">
                <div class="row top-buffer">
                    <table id="reporte-table"
                           class="table-striped"
                           data-url="{{ path('_reporte_list', {'from': '#date-from','to':'#date-to'})}}"
                           data-pagination="false"
                           data-page-size="100"
                           data-side-pagination="server"
                           data-striped="true"
                           data-row-style="reporteRowStyle">
                        <thead>
                        <tr>
                            <th data-field="nombre" >Item</th>
                            <th data-field="categoria"  data-formatter="categoriaFormatter" >Categoria</th>
                            <th data-field="cantidad">Cantidad</th>
                        </tr>
                        </thead>
                    </table>
                </div><!-- .row -->
            </div><!-- #reporte-list -->

        </div>
    </div>
{% endblock %}

