{% extends 'PedidosBundle:layout:layout.html.twig' %}



{% block body %}

    <section id="main-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <a href="{{ path("_get_menu") }}" class="btn btn-primary">
                        <div class="menu-principal-item">
                            <h4 class="card-title">MENU</h4>
                            <p class="card-text"><i class="fa fa-cutlery menu-icon"></i></p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ path("_pedido") }}" class="btn btn-primary {% if not app.session.get("usuarioDto").puedeCrearPedido %} disabled {% endif %}">
                        <div class="menu-principal-item">
                            <h4 class="card-title">PEDIR</h4>
                            <p class="card-text"><i class="fa fa-hand-o-up menu-icon"></i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <a href="{{ path("_pedido_listar") }}" class="btn btn-primary {% if not app.session.get("usuarioDto").puedeListarPedidos %} disabled {% endif %}">
                        <div class="menu-principal-item">
                            <h4 class="card-title">MIS PEDIDOS</h4>
                            <p class="card-text"><i class="fa fa-history menu-icon"></i></p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-primary disabled">
                        <div class="menu-principal-item">
                            <h4 class="card-title">AYUDA</h4>
                            <p class="card-text"><i class="fa fa-question menu-icon"></i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <a href="{{ path("_generar_sugerencia") }}" class="btn btn-primary {% if not app.session.get("usuarioDto").puedeCrearSugerencia %} disabled {% endif %}">
                        <div class="menu-principal-item">
                            <h4 class="card-title">ALTA SUGERENCIAS</h4>
                            <p class="card-text"><i class="fa fa-star menu-icon"></i></p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 ">
                    <a href="{{ path("_reportes") }}" class="btn btn-primary {% if not app.session.get("usuarioDto").puedeGenerarReporte %} disabled {% endif %}  ">
                        <div class="menu-principal-item">
                            <h4 class="card-title">REPORTE</h4>
                            <p class="card-text"><i class="fa fa-signal menu-icon"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

