{% import _self as pedidoListarMacro %}
{% extends 'PedidosBundle:layout:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

{% block body %}
    <section id="listado-pedidos">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Listado Pedidos</h1>
                </div>
            </div>
            {% if pedidos is empty %}
                <p>No hay pedidos</p>
            {% else %}
                {% for pedidoDto in pedidos %}
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Pedido #{{ pedidoDto.id }} <span class="estado-pedido {{ pedidoDto.estado | lower }}">{{ pedidoDto.estado }}</span>
                                {% if pedidoDto.abonado %} <span class="abonado pull-right" data-toggle="tooltip" title="Abonado"> <i class=" glyphicon glyphicon-ok"> </i> </span>{% endif %}</h3>

                            <p class="comentario-color">{% if pedidoDto.comentario %}<i
                                        class="glyphicon glyphicon-comment"></i>
                                <spany style="padding:5px">{{ pedidoDto.comentario }}{% endif %}</spany>
                            </p>
                        </div>
                        <div class="col-xs-4 text-right">
                            {% if app.session.get("usuarioDto").puedeCambiarEstadoDePedido %}
                                <a href="{{ path("_cambiar_estado_pedido") }}?pedido_id={{ pedidoDto.id }}"
                                   type="button" class="btn btn-primary pedidos-btn">EditarPedido</a>
                            {% endif %}
                        </div>
                        <div class="col-xs-12">
                            <div id="pedido-detalle-{{ pedidoDto.id }}">
                                {{ pedidoListarMacro.generarListaItemsDePedido("Entradas", pedidoDto.itemsByCategoriaDto.entradaItems) }}
                                {{ pedidoListarMacro.generarListaItemsDePedido("Platos Principales", pedidoDto.itemsByCategoriaDto.platoPrincipalItems) }}
                                {{ pedidoListarMacro.generarListaItemsDePedido("Postres", pedidoDto.itemsByCategoriaDto.postreItems) }}
                                {{ pedidoListarMacro.generarListaItemsDePedido("Cafetería", pedidoDto.itemsByCategoriaDto.cafeteriaItems) }}
                                {{ pedidoListarMacro.generarListaItemsDePedido("Bebidas", pedidoDto.itemsByCategoriaDto.bebidaItems) }}
                                {{ pedidoListarMacro.generarListaItemsDePedido("Sugerencias", pedidoDto.itemsByCategoriaDto.sugerenciaItems) }}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}

{% macro generarListaItemsDePedido(categoriaTitle, items) %}
    {% if items|length > 0 %}
        <div class="row">
            <div class="col-xs-12">
                <b>{{ categoriaTitle }}</b>
                {% for pedidoItem in items %}
                    <div class="row">
                        <div class="col-xs-8">
                            {{ pedidoItem.itemDeMenu.nombre }}
                        </div>
                        <div class="col-xs-4 text-right" style="color: grey;">
                            x{{ pedidoItem.cantidad }}
                            &nbsp;{% if pedidoItem.comentario %}({{ pedidoItem.comentario }}){% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
