{% import _self as menuMacro %}
{% extends 'PedidosBundle:layout:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .menu-item-clickeable {
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        {% if modoPedir is defined %}
        $("document").ready(function () {
            $(".menu-item").addClass("menu-item-clickeable");
            $(".menu-item").bind("click", function () {
                var itemMenuId = this.id;
                var title = this.title;

                $("#pedido-item-modal-label").html(title);
                loadHTMLContentOn(
                    "{{ path("_pedido_item") }}?pedido_item_id=" + itemMenuId,
                    $("#pedido-item-modal-body-div"),
                    function () {
                        $("#pedidoItemModal").modal();
                    }
                );
            });

            $(".menu-item").hover(
                function () {
                    $(this).addClass('menu-item-hover');
                    $(this).find('.menu-item-precio').append('<span class="agregar-menu fa fa-plus-circle text-center" ></span>');
                },
                function () {
                    $(this).removeClass('menu-item-hover');
                    $(this).find('.agregar-menu').remove();
                }
            );
        });
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <section id="menu-page">
        <div class="container" {% if modoPedir is defined %} id="crear-menu" {% endif %}>
            <div class="row">
                <div class="col-sm-10 col-xs-6">
                    {% if modoPedir is defined %}
                        <h1>Nuevo Pedido</h1>
                    {% else %}
                        <h1>Menú</h1>
                    {% endif %}
                </div>
                {% if modoPedir is not defined %}
                    <div class="col-sm-2 col-xs-6 text-right">
                        <a href="{{ path("_pedido") }}" type="button" class="btn btn-primary pedidos-btn">Nuevo
                            Pedido</a>
                    </div>
                {% else %}
                    <div class="col-sm-2 col-xs-6 text-right">
                        <a href="{{ path("_pedido_limpiar") }}" type="button" class="btn btn-primary pedidos-btn"><span
                                    class="fa fa-trash" aria-hidden="true"></span>
                            Borrar Pedido</a>
                    </div>
                {% endif %}

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Entradas</h2>
                            {{ menuMacro.generarListaItemsDeMenu(itemsByCategoriaDto.entradaItems) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Platos Principales</h2>
                            {{ menuMacro.generarListaItemsDeMenu(itemsByCategoriaDto.platoPrincipalItems) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Postres</h2>
                            {{ menuMacro.generarListaItemsDeMenu(itemsByCategoriaDto.postreItems) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Cafetería</h2>
                            {{ menuMacro.generarListaItemsDeMenu(itemsByCategoriaDto.cafeteriaItems) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Bebidas</h2>
                            {{ menuMacro.generarListaItemsDeMenu(itemsByCategoriaDto.bebidaItems) }}
                        </div>
                    </div>
                    {% if itemsByCategoriaDto.sugerenciaItems is defined %}
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Promos/Sugerencias</h2>
                            {{ menuMacro.generarListaItemsDeMenu(itemsByCategoriaDto.sugerenciaItems) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if modoPedir is defined %}
                <div class="row text-center top-buffer">
                    <a href="{{ path("_pedido_preview") }}" class="btn btn-default btn-lg">Ver mi Pedido</a>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="pedidoItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="pedido-item-modal-label">Modal title</h4>
                </div>
                <div class="modal-body" id="pedido-item-modal-body-div">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro generarListaItemsDeMenu(listaItems) %}
    {% for item in listaItems %}
        <div class="row menu-item" title="{{ item.nombre }}" id="{{ item.id }}">
            <div class="col-xs-10 menu-item-nombre">
                {{ item.nombre }}<br>
                <span style="color:grey;font-size: small">{{ item.descripcion }}</span>
            </div>
            <div class="col-xs-2 text-right menu-item-precio">
                ${{ item.precio }}
            </div>
        </div>
    {% endfor %}
{% endmacro %}